<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkinstars.springBootTemplate.dao.UserDao">

    <select id="listUser" resultType="UserEntity">
        SELECT id, val
        FROM user_tab
    </select>

    <insert id="addUser">
        INSERT INTO user_tab
        (id, val)
        VALUE(1,"1")
    </insert>
</mapper>